.descricao-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.descricao {
    padding-bottom: 80px;
    background-color: #f2f1f0;
}

.descricao-item {
    border-bottom: 1px solid #B4B3B3;
}

.descricao-item:nth-child(1) {
    border-top:  1px solid #B4B3B3;
}

.descricao h2 {
    margin-bottom: 60px;
    text-align: center;
    font-size: 32px;
    color: #141414;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
}

.descricao dl > div {
    padding: 24px 20px 0px 20px;
}

.descricao button {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    border: none;
    background: none;
    font-family: 'Arima Madurai';
    text-align: left;
    width: 100%;
    color:  #262626;
    font-size: 40px;
    line-height: 1;
    font-weight: 400;
    transition: 0.3s;
}

.descricao button:hover {
    color: #BC8F45;
}

.descricao button::after {
    content: '';
    display: inline-block;
    width: 14px;
    height: 6px;
    background: url("../img/icones/seta-abrir.svg");
    transition: 0.2s;
}

.descricao button:hover::after, .descricao button[aria-expanded="true"]::after {
    transform: rotate(180deg);
}

.descricao dd {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s cubic-bezier(0.5, 0, 0.1, 1);
}

.descricao dd.ativa {
    max-height: 1200px;
}

.descricao-lista {
    padding-bottom: 10px;
}

.descricao-lista-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 8px 6px 4px 4px;
    font-family: 'Arima Madurai';
    font-weight: 500;
}

.descricao-lista-item span {
    font-family: 'Nunito';
    font-size: 0.875rem;
    color: #575757;
    font-weight: 400;
    max-width: 300px;
    text-align: right;
    align-self: center;
}

.descricao-lista-item:nth-child(odd) {
    border-bottom: 1px solid #B4B3B3;
    border-top: 1px solid #B4B3B3;
}

.descricao-lista-item:last-child {
    border-bottom: none;
}

.descricao-lista-item.condominio::after, .descricao-lista-item.area::after {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("../img/icones/correto.png");
    align-self: center;
}

.descricao dd {
    padding-top: 16px;
    max-width: 80ch;
}

@media (max-width: 640px) {
    .lista-item-texto {
        flex-direction: column;
    }
    .descricao-lista-item.lista-item-texto span {
        text-align: start;
        padding-top: 5px;
        max-width: max-content;
        align-self: start;
    }
}

@media (max-width: 470px) {
    .descricao button {
        font-size: 2.3rem;
    }
}
@media (max-width: 400px) {
    .descricao button {
        font-size: 2rem;
    }
    .descricao-lista-item.condominio::after, .descricao-lista-item.area::after {
        background-image: url("../img/icones/correto-12px.png");
        width: 12px;
        height: 12px;
    }
}
@media (max-width: 330px) {
    .descricao button {
        font-size: 1.8rem;
    }
}