.slide-wrapper {
    background-color: #262626;
    padding-top: 80px;
    padding-bottom: 80px;
}

img {
    display: block;
    max-width: 100%;
}

.slide-wrapper {
    overflow: hidden;
}

.slide {
    display: flex;
}

.slide:hover {
    will-change: transform;
}

.slide li {
    flex-shrink: 0;
    width: 100vh;
    max-width: 800px;
    margin: 0 20px;
    opacity: .8;
    transform: scale(.8);
    transition: .4s;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .4);
}

.slide {
    transform: translate3d(0px, 0px, 0px);
}

.slide li.active {
    opacity: 1;
    transform: scale(1);
}

@media (max-width: 800px) {
    .slide li {
        width: 80vh;
    }
}
@media (max-width: 700px) {
    .slide li {
        width: 70vh;
    }
}
@media (max-width: 650px) {
    .slide li {
        width: 60vh;
    }
}
@media (max-width: 570px) {
    .slide li {
        width: 55vh;
    }
}
@media (max-width: 530px) {
    .slide li {
        width: 50vh;
        margin: 0 15px;
    }
}
@media (max-width: 480px) {
    .slide li {
        width: 45vh;
        margin: 0 10px;
    }
}
@media (max-width: 380px) {
    .slide li {
        width: 40vh;
        margin: 0 10px;
    }
    .slide-wrapper {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}
@media (max-width: 310px) {
    .slide li {
        width: 30vh;
        margin: 0 10px;
    }
}