.slide-wrapper {
    background-color: #262626;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
}

.slide img {
    display: block;
    max-width: 100%;
    cursor: pointer;
}

.slide-wrapper {
    overflow: hidden;
}

.slide {
    display: flex;
}

.slide:hover {
    will-change: transform;
}

.slide li {
    flex-shrink: 0;
    width: 600px;
    max-width: 800px;
    margin: 0 10px;
    opacity: .8;
    transform: scale(.8);
    transition: .4s;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .4);
}

.slide {
    transform: translate3d(0px, 0px, 0px);
}

.slide li.active {
    opacity: 1;
    transform: scale(1);
}

/* Botão de PREV e NEXT */

.prev, .next {
    border: none;
    background: url("../img/slide/seta-slide.png") center center no-repeat;
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: rotate(45deg);
    position: absolute;
    transition: 0.3s;
}

.prev {
    transform: rotate(-135deg);
    left: 20px;
    top: 40%;
}

.next {
    top: 40%;
    right: 20px;
}

.prev:hover, .next:hover {
    width: 120px;
    height: 120px;
    top: 38%;
    box-shadow: 0px 0px 5px rgb(37, 37, 37);
}

@media (max-width: 930px) {
    .slide li {
        width: 600px;
    }
}
@media (max-width: 800px) {
    .slide li {
        width: 500px;
    }
    .next, .prev {
        top: 38%;
    }
}
@media (max-width: 700px) {
    .slide li {
        width: 400px;
    }
    .next, .prev {
        top: 40%;
        background: url("../img/slide/seta-slide-25px.png") center center no-repeat;
        background-color: white;
        width: 80px;
        height: 80px;
    }
    .next:hover, .prev:hover {
        width: 85px;
        height: 85px;
        top: 40%;
    }
    .next {
        right: 10px;
    }
    .prev {
        left: 10px;
    }
}
@media (max-width: 570px) {
    .slide li {
        width: 350px;
    }
}
@media (max-width: 500px) {
    .slide li {
        width: 300px;
    }
}
@media (max-width: 410px) {
    .slide li {
        width: 270px;
    }
    .next, .prev {
        top: 43%;
        background: url("../img/slide/seta-slide-15px.png") center center no-repeat;
        background-color: white;
        width: 65px;
        height: 65px;
    }
    .next:hover, .prev:hover {
        width: 70px;
        height: 70px;
        top: 43%;
    }
}
@media (max-width: 380px) {
    .slide li {
        width: 240px;
    }
    .slide-wrapper {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}
@media (max-width: 350px) {
    .slide li {
        width: 220px;
    }
}
@media (max-width: 320px) {
    .slide li {
        width: 210px;
    }
    .next, .prev {
        width: 50px;
        height: 50px;
    }
    .next:hover, .prev:hover {
        width: 55px;
        height: 55px;
    }
}