.slide-wrapper {
    background-color: #262626;
    padding-top: 80px;
    padding-bottom: 80px;
}

img {
    display: block;
    max-width: 100%;
}

.slide-wrapper {
    overflow: hidden;
}

.slide {
    display: flex;
}

.slide:hover {
    will-change: transform;
}

.slide li {
    flex-shrink: 0;
    width: 600px;
    max-width: 800px;
    margin: 0 10px;
    opacity: .8;
    transform: scale(.8);
    transition: .4s;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .4);
}

.slide {
    transform: translate3d(0px, 0px, 0px);
}

.slide li.active {
    opacity: 1;
    transform: scale(1);
}

@media (max-width: 930px) {
    .slide li {
        width: 600px;
    }
}
@media (max-width: 800px) {
    .slide li {
        width: 500px;
    }
}
@media (max-width: 700px) {
    .slide li {
        width: 400px;
    }
}
@media (max-width: 570px) {
    .slide li {
        width: 350px;
    }
}
@media (max-width: 500px) {
    .slide li {
        width: 300px;
    }
}
@media (max-width: 450px) {
    .slide li {
        width: 250px;
    }
}
@media (max-width: 380px) {
    .slide li {
        width: 200px;
    }
    .slide-wrapper {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}
@media (max-width: 310px) {
    .slide li {
        width: 180px;
    }
}