.introducao-video {
    width: 100%;
    object-fit: cover;
    z-index: -1;
    height: 100%;
}

.introducao-video video {
    width: 100%;
    height: 100%;
}

.introducao-bg {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introducao-conteudo {
    position: absolute;
    color: white;
    font-size: 2.8rem;
}

.introducao-titulo {
    font-family: 'Arima Madurai';
    line-height: 1;
}

.introducao-conteudo span {
    font-family: 'Nunito';
    font-size: 2.3rem;
}

.video-cell {
    display: none;
}

@media (max-width: 600px) {
    .video-pc {
        display: none;
    }
    
    .video-cell {
        display: initial;
    }
}