/* Logo */

.logo {
    max-width: 300px;
    height: 64px;
    display: flex;
    gap: 20px;
}

/* Navegação */

.navegacao-lista {
    display: flex;
    gap: 30px;
}

.navegacao-lista a {
    text-transform: uppercase;
    font-size: 1.15rem;
    color: white;
}

/* Menu Mobile */

.btn-mobile {
    display: none;
}

.nav-active {
    height: 100vh;
    overflow: hidden;
}

.hamburguer {
    border-top: 2px solid;
    width: 20px;
    color: white;
}

/* Animação no menu do header */

.navegacao-lista li {
    position: relative;
}

.navegacao-lista a::after {
    content: '';
    display: block;
    height: 2px;
    width: 0px;
    margin-top: 3px;
    background-color: black;
    transition: 0.3s;
    position: absolute;
}

.navegacao-lista a:hover::after {
    width: 100%;
} 

/* Header Geral */

header {
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
    transition: 0.3s;
}

/* JavaScript */

.bg-branco {
    background: white;
    transition: 0.5s;
}

/* Responsivo Geral */

@media (max-width: 1000px) {
    .introducao-conteudo {
        display: none;
    }
}

/* Menu Mobile responsividade */

@media (max-width: 1000px) {
    .btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        border: none;
        background: none;
        cursor: pointer;
    }
    .hamburguer::after, .hamburguer::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        position: relative;
        transition: 0.3s;
    }
    .nav.active .hamburguer {
        border-top-color: transparent;
    }
    .nav.active .hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }
    .nav.active .hamburguer::before {
        transform: rotate(135deg);
    }
    .navegacao-lista a {
        color: black;
        text-align: center;
        padding: 20px;
    }
    .navegacao-lista li {
        width: calc(100% - 50px);
        border-bottom: 2px solid #e7e7e7;
        text-align: center;
        padding-bottom: 28px;
    }
    .navegacao-lista li:nth-child(1) {
        border-top: 2px solid #e7e7e7;
        padding-top: 28px;
    }
    .navegacao-lista a::after {
        height: 0px;
    }
    .navegacao-lista {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        width: 100%;
        top: 104px;
        right: 0px;
        background-color: white;
        height: 0px;
        z-index: 10;
        transition: .1s;
        overflow: hidden;
        visibility: hidden;
    }
    .nav.active .navegacao-lista {
        height: calc(100vh - 104px);
        visibility: visible;
    }
    body.nav-active header {
        transition: 0s;
    }
}